.search{
    width:30%;
    margin-left:10%;
    border-radius:5px;
}
 /* .signin{
    border:none;
    background-color:pink;
    border-radius: 5px;
    margin-left:25%;
} */
.header{
    display:inline;
    margin-left:30px;
}
.head h2, button, input{
    /* margin-bottom:10px; */
    display: inline-block;
}
nav ul li{
    display: inline-block;
    /* margin-top:20px; */
    margin-right:20px;
}
.image{
    width:230px;
    border-radius:10px;
}
.footer{
    height:fit-content;
}



